@import "tailwindcss";

@theme {
  --color-cyan-500: #00e5ff;
  --color-purple-500: #7c3aed;
  --color-purple-600: #6d28d9;
  --color-purple-700: #5b21b6;
  --color-pink-500: #ff0080;
  --color-pink-600: #e0006f;
  --color-pink-700: #c0005e;

  --font-family-sans: "Inter", "Poppins", system-ui, sans-serif;
}
